:root{
--light:#f5f5f5;
--dark:#2c3e50;

}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
     font-weight: 700;
    background-color:var(--light);     
    color:var(--dark);                     
    line-height: 1.5;
    padding: 20px;
}
h2{
    color:var(--dark);
    text-align: center;
    margin:  20px auto ;
}
nav,footer{
  background-color:var(--dark); 
  padding: 10px; 
  text-align: center;
  border-radius: 10px;
 nav {
  width: 90%;     
  max-width: 1200px; 
   
}
}
nav a,footer a ,footer p{
 
color: #dadcdf; 
margin: 0 auto;
font-weight: 700;
text-decoration: none;
text-align: center;
margin-top: auto;
}

nav a:hover, footer a:hover {
    color: #88b3b6; 
    text-decoration: underline;      
}
form{
    background-color: #dadcdf;
    padding: 20px;
    margin: 20px auto;
    width: 700px;
border-radius: 15px;
}


input[type="text"], textarea, select {
    width: 300px;
    height: 30;                 
    padding: 10px;               
    margin-bottom: 15px;        
    border: 1px solid #ccc;      
    border-radius: 4px;        
    font-size: 16px;
    color:var(--dark) ;
    font-family: inherit;
}
  input:focus, textarea:focus, select:focus {
      background-color:rgb(181, 181, 180);
  }

button {
     
      background-color:var(--dark) ;            

      color: #dadcdf;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 500;
    cursor:pointer;
   
           
}
button:hover{
  color: #88b3b6; 
    text-decoration: underline;  
}
button:active{
    transform: translateY(2px);
}